<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Products</h1>


<%= turbo_frame_tag "products" do %>
  <%= render partial: "product", collection: @products %>
<% end %>

<%= render 'pagination' %>